@model ACTI.Models.Alumno

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>ALUMNO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teléfono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teléfono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <form class="nav-link text-dark">
        <button type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</button> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
